@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.woff2);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),
       url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
       url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
       url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

html {
  font-family: sans-serif;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background:url('../img/loginbg.jpg') center center / auto 100% no-repeat;
  font-size: 14px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.glyphicon-user:before {
  content: "\e008"
}

.glyphicon-lock:before {
  content: "\e033"
}

strong {
  font-weight: 700
}
center > strong {
  color: #011c38;
}

input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  font-family: normal;
  font-size: inherit;
  line-height: inherit
}

img {
  vertical-align: middle
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px
}

h4,
h5 {
  margin-top: 10px;
  margin-bottom: 10px
}

h4 {
  font-size: 18px
}

h5 {
  font-size: 14px
}

h3,
h4,
h5 {
  font-weight: 500;
  line-height: 1.1;
  color: inherit
}

a {
  color: #3c8dbc;
  text-decoration: none
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2
}
.text-center {
  text-align: center
}

.row {
  margin-right: -15px;
  margin-left: -15px
}

.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px
}

@media (min-width:990px) {
  .col {
    float: left
  }
  .col {
    width: 50%
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2d6de;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}
.form-control:focus {
  border-color: #3c8dbc;
}

.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1
}

.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0
}

.form-group {
  margin-bottom: 15px
}

.has-feedback {
  position: relative
}

.has-feedback .form-control {
  padding-right: 42.5px
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none
}

.lblnote {
  color: red;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px
}

.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da
}

.btn-info:focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc
}

.btn-info:active {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc
}

.btn-info:active:focus,
.btn-info:active:hover {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85
}

.btn-info:active {
  background-image: none
}

.row:after,
.row:before {
  display: table;
  content: " "
}

.row:after {
  clear: both
}

@-ms-viewport {
  width: device-width
}



.btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent
}

.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn:focus {
  outline: none
}

.btn-info {
  background-color: #00c0ef;
  border-color: #00acd6
}

.btn-info:hover,
.btn-info:active {
  background-color: #00acd6
}

.login-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 1px #666;
}

.login-box-body .form-control-feedback {
  color: #777
}

.logWelC {
  color: #00c0ef;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.sr {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 1000;
}

.loginLeft {
  padding-right: 15px;
  border-right: 1px solid #ddd;
}

.loginLeft h5 {
  text-align: center;
  font-weight:bold;
  text-decoration: underline;
}

.loginRight h3 {
  text-align: center;
  margin-top:10%
}

.logoLogin {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media only screen and (max-width:990px) {
  .sr {
    width: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
  }
  .loginLeft {
    padding-right: 0px;
    border-right: 0px !important;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  .loginRight {
    padding-left: 0px;
    padding-top: 15px;
  }
  .loginRight h3 {
    margin-top: 10px!important
  }
}

.Alignment {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
