{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>
    Timetable Scheduler
  </title>
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
</head>

<body>
  <div class="main">
    <div class="logo">
      <h2>Time-Table Scheduler</h2>
      <h4>Schedule Timetable with ease</h4>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'instructorAdd' %}">Add Instructor</a></li>
        <li><a href="{% url 'roomAdd' %}">Add Room </a></li>
        <li><a href="{% url 'meetingTimeAdd' %}">Add Meeting time</a></li>
        <li><a href="{% url 'courseAdd' %}">Add Course</a></li>
        <li><a href="{% url 'departmentAdd' %}">Add department</a></li>
        <li><a href="{% url 'sectionAdd' %}">Add Section</a></li>
      </ul>
    </nav>
    {% block content %}


    {% endblock %}

  </div>

  <script type="text/javascript">

    var checkList = document.getElementById('list1');
    var items = document.getElementById('items');
    checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
      if (items.classList.contains('visible')) {
        items.classList.remove('visible');
        items.style.display = "none";
      }

      else {
        items.classList.add('visible');
        items.style.display = "block";
      }
    }

    items.onblur = function (evt) {
      items.classList.remove('visible');
    }
  </script>

</body>

</html>