{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load index %}




<fieldset class="fieldset">
  <div class="tablink">
    <a href="{% url 'departmentAdd'%}">
      <h1 onclick="openPage('new')" id="defaultOpen">Add Department</h1>
    </a>
    <h1 onclick="openPage('edit')" id="link_to_edit">Edit Department</h1>
  </div>
  <div class="tabcontent" id="edit">
    <table class="editTable">
      <thead>
        <tr class="table-headers">
          <th>Department</th>
          <th>Courses</th>
          <th class="empty"></th>
        </tr>
      </thead>

      <tbody>
        {% for dept in departments %}
        <tr>
          <td>{{dept.dept_name}}</td>
          <td>{{course|dictKey:dept.dept_name}}</td>
          <td class="empty">
            <form action="{% url 'deletedepartment' dept.id %}" method="post">
              {% csrf_token %}
              <input type="submit" value="X" class="cross">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</fieldset>

{% endblock %}