{% extends 'base.html' %}
{% block content %}
{% load static %}



<div class="container-fluid">
  <div class="row ml-auto">
    <div class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-12 halfpart">
      <div class="inner">
        <img src="{% static 'img/vect.jpg' %}">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xl-6 col-xxl-6 col-sm-12 halfpart">
      <div class="card">
        <div class="txt">
          <h2>Timetable Generator</h2>
          <p>Let our Artificial Intelligence schedule your classes.
            Add your university class details and generate Time Table.</p>
        </div>
        <div class="crdbtn">
          <a href="{% url 'timetable' %}" class="btn">Generate Timetable</a>
        </div>
        {% if not user.is_authenticated %}
        <div class="crdbtn">
          <a href="{% url 'login' %}" class="btn">Login</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}