{% extends 'base.html' %}
{% block content %}
{% load static %}


<form method="post">
  {% csrf_token %}
  <fieldset>
    <div class="tablink">
      <h1 onclick="openPage('new')" id="defaultOpen">Add Section</h1>
      <a href="{% url 'sectionEdit' %}">
        <h1 onclick="openPage('edit')" id="link_to_edit">Edit Section</h1>
      </a>
    </div>
    <div class="tabcontent" id="new">
      {{ form.as_p }}
      <input type="submit" value="Submit" class="submit">
    </div>
  </fieldset>
</form>

{% endblock %}